@model ClaimyWebApps.ViewModel.ClaimformViewModel
@{
    ViewBag.Title = "NewClaim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>NewClaim</h2>

@using (Html.BeginForm("NewClaim", "Claim"))
{
    <div id="FeeNum" class="form-group">
        @Html.LabelFor(m => m.Claim.FeeNum)
        @Html.TextBoxFor(m => m.Claim.FeeNum, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.FeeNum)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Claim.Transgression)
        @Html.TextBoxFor(m => m.Claim.Transgression, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.Transgression)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Claim.Remarks)
        @Html.TextBoxFor(m => m.Claim.Remarks, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.Remarks)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Claim.LicensePlate)
        @Html.TextBoxFor(m => m.Claim.LicensePlate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.LicensePlate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Claim.DriversFirstName)
        @Html.TextBoxFor(m => m.Claim.DriversFirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.DriversFirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Claim.Address)
        @Html.TextBoxFor(m => m.Claim.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Claim.Appeal)
        @Html.TextBoxFor(m => m.Claim.Appeal, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.Appeal)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Claim.GuardNumber)
        @Html.TextBoxFor(m => m.Claim.GuardNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.GuardNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Claim.Amount)
        @Html.TextBoxFor(m => m.Claim.Amount, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.Amount)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Claim.PaymentInfo)
        @Html.TextBoxFor(m => m.Claim.PaymentInfo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.PaymentInfo)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Claim.Zipcode)
        @Html.TextBoxFor(m => m.Claim.Zipcode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.Zipcode)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Claim.CustomerEmail)
        @Html.TextBoxFor(m => m.Claim.CustomerEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Claim.CustomerEmail)
    </div>
    @Html.HiddenFor(m => m.Claim.ID)
    @Html.AntiForgeryToken()
    <button id="btnAdd" type="submit" class="btn btn-primary">Save</button>

    
}
@section scripts
{
    <script>





    </script>
}
